@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap'); */

@font-face {
  font-family: "Indumathi";
  font-style: normal;
  font-weight: normal;
  src: local("4u-Indumathi"),
    url("./Assest/Fonts/4u-indumathi.ttf") format("truetype");
}

/* use for headers */
@font-face {
  font-family: "Amantha";
  font-style: normal;
  font-weight: normal;
  src: local("4u-Amantha"),
    url("./Assest/Fonts/4u-Amantha.ttf") format("truetype");
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
}
